<?xml version="1.0" ?>

<robot name="cable_joint" xmlns:xacro="https://www.ros.org/wiki/xacro" >

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <!-- properties of link_base -->
    <xacro:property name="R_BASE" value="0.1"/>
    <xacro:property name="L_BASE" value="0.02"/>
    <xacro:property name="M_BASE" value="1000"/>
    <!-- properties of link_base -->
    <xacro:property name="R_BASE" value="0.1"/>
    <xacro:property name="L_BASE" value="0.02"/>
    <xacro:property name="M_BASE" value="1000"/>
    <!-- properties of link_camera_body -->
    <xacro:property name="L_CAMBODY" value="0.02"/>
    <xacro:property name="M_CAMBODY" value="0.1"/>


    <!-- Import all Gazebo-customization elements, including Gazebo colors -->
    <xacro:include filename="$(find cable_joint_description)/urdf/cable_joint.gazebo.xacro" />
    <!-- Import Rviz colors -->
    <xacro:include filename="$(find cable_joint_description)/urdf/materials.xacro" />

    <!-- Used for fixing robot to Gazebo 'base_link' -->
    <link name="world"/>

    <joint name="joint_world_base" type="fixed">
        <parent link="world"/>
        <child link="link_base"/>
    </joint>

    <link name="link_base">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder length="${L_BASE}" radius="${R_BASE}"/>
            </geometry>
        <material name="black"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder length="${L_BASE}" radius="${R_BASE}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="1000"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="${1/12*M_BASE*(3*R_BASE*R_BASE+L_BASE*L_BASE)}" ixy="0" ixz="0" iyy="${1/12*M_BASE*(3*R_BASE*R_BASE+L_BASE*L_BASE)}" iyz="0" izz="${1/2*M_BASE*R_BASE*R_BASE}"/>
        </inertial>
    </link>

    <joint name="joint_world_camerabody" type="revolute">
        <origin rpy="0 0 ${PI/2}" xyz="0 -0.5 ${L_CAMBODY/2}"/>
        <parent link="world"/>
        <child link="link_camera_body"/>
        <limit effort="0" lower="0" upper="0" velocity="0"/>
        <axis rpy="0 0 0" xyz="0 0 1"/>
    </joint>

    <link name="link_camera_body">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="${L_CAMBODY} ${L_CAMBODY*2} ${L_CAMBODY*2}"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="${L_CAMBODY} ${L_CAMBODY*2} ${L_CAMBODY*2}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${M_CAMBODY}"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="${1/12*M_CAMBODY*(L_CAMBODY*L_CAMBODY*4+L_CAMBODY*L_CAMBODY*4)}" ixy="0" ixz="0" iyy="${1/12*M_CAMBODY*(L_CAMBODY*L_CAMBODY+L_CAMBODY*L_CAMBODY*4)}" iyz="0" izz="${1/12*M_CAMBODY*(L_CAMBODY*L_CAMBODY*4+L_CAMBODY*L_CAMBODY)}"/>
        </inertial>
    </link>

</robot>
