<?xml version="1.0"?>
<robot>
  <!-- camera -->
  <gazebo reference="link_southOptical">
    <sensor type="camera" name="camera1">
      <update_rate>30.0</update_rate>
      <camera name="rgb">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>cable_joint/rgb_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>link_southOptical</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin filename="libgazebo_ros_force.so" name="gazebo_ros_force">
      <bodyName>link_northeastCube</bodyName>
      <topicName>/force_ne</topicName>
    </plugin>
    <plugin filename="libgazebo_ros_force.so" name="gazebo_ros_force">
      <bodyName>link_northwestCube</bodyName>
      <topicName>/force_nw</topicName>
    </plugin>
    <plugin filename="libgazebo_ros_force.so" name="gazebo_ros_force">
      <bodyName>link_southeastCube</bodyName>
      <topicName>/force_se</topicName>
    </plugin>
    <plugin filename="libgazebo_ros_force.so" name="gazebo_ros_force">
      <bodyName>link_southwestCube</bodyName>
      <topicName>/force_sw</topicName>
    </plugin>
  </gazebo>


  <gazebo reference="link_southLens">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="link_southCameraBody">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="link_base">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="link_lowerSupport">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="link_westPin">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="link_eastPin">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="link_hiddenLinkRoll">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="link_hiddenLinkPitch">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="link_ball">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="link_upperSupport">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="link_disc">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="link_northeastCube">
    <material>Gazebo/Turquoise</material>
  </gazebo>

  <gazebo reference="link_northwestCube">
    <material>Gazebo/Gold</material>
  </gazebo>

  <gazebo reference="link_southwestCube">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="link_southeastCube">
    <material>Gazebo/Indigo</material>
  </gazebo>

</robot>
